<template name="message">
  <div class="message {{myMessage}}">

    <div class="name-wrapper">
      <span class="user-name">{{user}}</span>
    </div>

    <div class="pic-message-wrapper">
      <div class="profile-pic">
        <img src="{{findPic user}}" alt="Contact Person" class="pure-img">
      </div>
      <!--<span class="date-post">on {{formatDate createdAt}}</span>-->

      <div class="message-wrapper">
        <div class="text-section">
          <p class="text">{{text}}</p>
        </div>
        <div class="options-section">
          {{#if equals myMessage "my-message"}}
          <button class="pure-button delete">&times;</button>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</template>
