<template name="miniChat">

    {{#if Template.subscriptionsReady}}
    <div class="chat-window">


      <div class="header">
        {{#if room.urlField}}
        <h1>{{room.urlField}}</h1>
        <h2 class="url-room">spik.meteor.com/<span class="url-room-urlfield">{{room.urlField}}</span></h2>
        {{else}}
        <h1>Unnamed room</h1>
        <form class="new-room-url-field">
          <input id="urlField" type="text" name="urlField" class="validate" placeholder="Give a name to this room">
          {{#if errorMessage}}
          <label for="urlfield" class="red-text animated fadeInLeft">{{errorMessage}}</label>
          {{/if}}
        </form>
        {{/if}}
      </div>

      <div class="messages-list">
        {{#each messages}}
          {{> message}}
        {{/each}}
      </div>

      <div class="footer">
        {{#if equals formStep 0}}
        <div class="step1">
          <button class="begin">Begin</button>
        </div>
        {{else}}
          {{#if equals formStep 1}}
          <div class="step2">
            <div class="profile-pic">
              <img src="{{findPic userName}}" alt="Contact Person" class="pure-img">
            </div>
            <form class="form-user">
              <input id="userField" type="text" name="userField" class="validate" maxlength="20" value="{{userName}}" placeholder="What's your name ?">
              <button class="send" type="submit" name="action">Send</button>
            </form>
          </div>
          {{else}}
            {{#if equals formStep 2}}
            <div class="step3">
              <form class="form-message">
                <input id="messageField" type="text" name="messagefield" class="validate" placeholder="Message">
                <button class="pure-button" type="submit" name="action">Submit</button>
              </form>
            </div>
            {{/if}}
          {{/if}}
        {{/if}}



      </div>

    </div>
    {{else}}
    <div class="loader-container">
      <div class="circle"></div>
    </div>
    {{/if}}

    <div class="btn-change-bg-div">
      <button class="btn-change-bg pure-button">Background</button>
    </div>

</template>
